body {
  @apply bg-gradient-to-r from-cyan-500 to-blue-500;
}

.layout {
  @apply w-full h-screen;

  header {
    @apply w-full flex items-center px-10;
    nav {
      @apply w-full h-[50px] flex items-center justify-center space-x-5 text-xl font-medium;
    }
  }
}
