.products {
  @apply flex flex-col p-5 h-screen;

  &--title {
    @apply flex justify-center w-full mx-auto text-4xl font-bold text-red-300;
  }

  > section {
    @apply flex flex-col w-full h-full;
  }

  &__description {
    @apply w-1/2 mx-auto my-10;

    h3 {
      @apply text-2xl font-medium text-center;
    }
  }

  &__mainContent {
    @apply w-10/12 mx-auto my-10 space-y-3;

    @screen md {
      @apply w-7/12;
    }
    @screen lg {
      @apply w-6/12 mx-auto my-10 space-y-3;
    }
  }
}

.productCard {
  @apply w-auto p-2 text-lg border rounded-xl;

  &__header {
    @apply flex items-center justify-between w-full;
    &__cart {
      @apply flex items-center;
      &--amountInput {
        @apply w-10 m-1 text-center rounded-lg;
      }

      &--icon {
        @apply cursor-pointer;
      }
    }
  }
}
